
@import "tailwindcss";

@layer theme {
     
}

@font-face {
  font-family: "Metrophobic";
  src: url("/fonts/Metrophobic-Regular.woff2") format("woff2");
  /* font-weight: 400; */
  font-style: normal;
}

body, button {
    font-family: "Metrophobic";
}

@layer base {
    button {
        @apply hover:cursor-pointer
    }

    input, textarea, select {
        @apply p-2 rounded-lg border border-gray-400 bg-white
    }
}

@layer components {
    .btn, .undoBtn {
        @apply p-2 border border-gray-200 rounded-lg  
    }

    .toTrashBtn {
        @apply absolute top-1 right-2 text-gray-400 hover:text-red-500 group-hover:text-red-500 transition
    }

    .toArchiveBtn {
        @apply absolute top-1 left-2 text-gray-400 hover:text-yellow-500 group-hover:text-yellow-500 transition
    }

    .notePreviewContainer {
        @apply bg-white rounded p-4 min-w-40 max-w-60 relative hover:scale-105 duration-300 shadow
    }

    .notePreview {
        @apply flex flex-col justify-start text-left mt-3;
    }

    .activeToast, .deletedToast, .archiveToast, .trashToast  {
        @apply flex flex-col justify-center items-center p-2 rounded-xl text-sm opacity-65 
    }
    
    .activeToast {
        @apply bg-green-600
    }

    .archiveToast {
        @apply bg-yellow-600
    }

    .trashToast {
        @apply bg-red-300
    }

    .deletedToast {
        @apply bg-red-600
    }
}

@layer utility {
    .cancel {
        @apply bg-white hover:bg-gray-100 hover:scale-105  duration-300 px-4 shadow;
    }

    .apply {
        @apply bg-blue-500 hover:bg-blue-600 text-white duration-300 px-4 shadow font-medium hover:scale-105;
    }

    .shadow-soft {
        box-shadow: 0 0 5px rgb(189, 188, 188);
    }

    .menuLinks {
        @apply w-full flex gap-2 items-center px-2 py-1 font-semibold text-lg rounded-2xl text-gray-800  
    }
}