
@import "tailwindcss";
 

@layer theme {
     
}

@font-face {
  font-family: "Metrophobic";
  src: url("/fonts/Metrophobic-Regular.woff2") format("woff2");
  /* font-weight: 400; */
  font-style: normal;
}

body, button {
    font-family: "Metrophobic";
}

@layer base {
    button {
        @apply hover:cursor-pointer
    }

    input, textarea, select {
        @apply p-2 rounded-xl border border-gray-300 bg-white focus:outline-3 focus:outline-amber-400
    }
}

@layer components {
    .btn, .undoBtn {
        @apply min-h-11 p-2 border border-gray-200 rounded-xl shadow hover:scale-105 duration-300 flex justify-center items-center
    }

    .toTrashBtn {
        @apply  text-gray-400 hover:text-red-500 group-hover:text-red-500 transition
    }

    .toArchiveBtn {
        @apply  text-gray-400 hover:text-yellow-500 group-hover:text-yellow-500 transition
    }

    .notePreviewContainer {
        @apply bg-white rounded-xl p-5 min-w-40 max-w-60 relative hover:scale-105 duration-300 shadow flex flex-col justify-around
    }

    .notePreview {
        @apply mt-5 flex flex-col justify-start text-left gap-1  ;
    }

    .activeToast, .deletedToast, .archiveToast, .trashToast  {
        @apply flex flex-col justify-center items-center p-2 rounded-xl text-sm opacity-65 
    }
    
    .activeToast {
        @apply bg-green-600
    }

    .archiveToast {
        @apply bg-yellow-600
    }

    .trashToast {
        @apply bg-red-300
    }

    .deletedToast {
        @apply bg-red-600
    }

    .labelTag {
        @apply rounded-full px-2 py-[3px] text-xs font-medium 
        w-15 truncate opacity-70
        hover:opacity-100 hover:scale-105 transition;
    }

    .test {
        background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .test2 {
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        /* background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
        background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
        background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
        background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%); */
    }
}

@layer utility {
    .cancel {
        @apply bg-white hover:bg-gray-100 hover:scale-105 duration-300 px-4 shadow;
    }

    .apply {
        @apply bg-blue-500 hover:bg-blue-600 text-white duration-300 px-4 shadow font-medium hover:scale-105 disabled:bg-blue-300;
    }

    .shadow-soft {
        box-shadow: 0 0 3px rgba(180, 180, 180, 0.396);
    }

    .menuLinks {
        @apply w-full flex gap-2 items-center justify-start px-2 py-1 font-semibold text-lg rounded-2xl text-gray-800  
    }

    .tooltip {
        @apply absolute bottom-full mb-2 left-1/2 -translate-x-1/2 text-xs  bg-neutral-800 text-white px-2 py-1 rounded-lg opacity-0 group-hover:opacity-100 pointer-events-none whitespace-nowrap duration-700
    }

    .hotkey {
        @apply text-xs text-gray-500 ml-1; 
    }
}