
@import "tailwindcss";

@layer theme {
     
}

@font-face {
  font-family: "Metrophobic";
  src: url("/fonts/Metrophobic-Regular.woff2") format("woff2");
  /* font-weight: 400; */
  font-style: normal;
}

body, button {
    font-family: "Metrophobic";
}

@layer base {
    button {
        @apply hover:cursor-pointer
    }

    input, textarea, select {
        @apply p-2 rounded-lg border border-gray-400 bg-white
    }
}

@layer components {
    .btn, .undoBtn {
        @apply min-h-11 p-2 border border-gray-200 rounded-xl shadow hover:scale-105 duration-300 flex justify-center items-center
    }

    .toTrashBtn {
        @apply absolute top-1 right-2 text-gray-400 hover:text-red-500 group-hover:text-red-500 transition
    }

    .toArchiveBtn {
        @apply absolute top-1 left-2 text-gray-400 hover:text-yellow-500 group-hover:text-yellow-500 transition
    }

 .notePreviewContainer {
    @apply bg-white rounded-xl p-5 min-w-40 max-w-60 relative
            shadow-sm flex flex-col justify-between
            transition-transform transition-shadow duration-200
            hover:-translate-y-1 hover:shadow-lg;
    }

    .notePreview {
        @apply mt-5 flex flex-col justify-start text-left gap-1  ;
    }

    .activeToast, .deletedToast, .archiveToast, .trashToast  {
        @apply flex flex-col justify-center items-center p-2 rounded-xl text-sm opacity-65 
    }
    
    .activeToast {
        @apply bg-green-600
    }

    .archiveToast {
        @apply bg-yellow-600
    }

    .trashToast {
        @apply bg-red-300
    }

    .deletedToast {
        @apply bg-red-600
    }

    .labelTag {
        @apply   rounded-lg px-2 py-1 text-sm w-15 truncate;
    }
}

@layer utility {
    .cancel {
        @apply bg-white hover:bg-gray-100 hover:scale-105 duration-300 px-4 shadow;
    }

    .apply {
        @apply bg-blue-500 hover:bg-blue-600 text-white duration-300 px-4 shadow font-medium hover:scale-105 disabled:bg-blue-300;
    }

    .shadow-soft {
        box-shadow: 0 0 5px rgb(210, 210, 210);
    }

    .menuLinks {
        @apply w-full flex gap-2 items-center justify-start px-2 py-1 font-semibold text-lg rounded-2xl text-gray-800  
    }

    .tooltip {
        @apply absolute bottom-full mb-2 left-1/2 -translate-x-1/2 text-xs  bg-neutral-800 text-white px-2 py-1 rounded-lg opacity-0 group-hover:opacity-100 pointer-events-none whitespace-nowrap duration-700
    }

    .hotkey {
        @apply text-xs text-gray-500 ml-1; 
    }
}